$card-link-color: #292929;

a:link {
    color: $card-link-color;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: $card-link-color;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: $card-link-color;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: $card-link-color;
    text-decoration: none;
  }

.evo-box {
    border-left: 5px solid #512f1b
}