a:link {
    color: #292929;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: #292929;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: #292929;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: #292929;
    text-decoration: none;
  }

.evo-box {
    border-left: 5px solid #512f1b
}

.pokemon-card {
  width: 20rem; 
  height: 28rem
}

.top-part {
  background: #dfdfdf
}

.card-img {
  width: 192px
}

.id-box {
  width: 4em; 
  background: #d1cdca
}

.pokemon-name-label {
  color:#292929
}