@import '../../styles/customLink.scss';

.pokemon-card {
  width: 20rem; 
  height: 28rem
}

.top-part {
  background: #dfdfdf
}

.card-img {
  width: 192px
}

.id-label {
  background: #d1cdca
}

.pokemon-name-label {
  color:#292929
}